<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
        <div class="container">
            <h1 class="logo">SiwFood</h1>
            <nav>
                <ul class="nav-list">
                    <a href="/">Home</a>
                    <a href="/ricette">Ricette</a>
                    <a href="/cuochi">Cuochi</a>
                    <a href="/login">Profilo</a>
                    
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-section">
            <h2>Benvenuti nel nostro blog di cucina</h2>
            <p>Scoprite la vostra prossima ricetta da fare in casa</p>

            <form action="#" class="search-box">
                <input type="text" placeholder="Cerca Ricetta">
                <button type="submit">Cerca</button>
            </form>
        </div>
    </section>

    <section class="ricette">
        <h2>Ricette disponibili</h2>
        <div class="sezione-ricette">
            <div class="display-ricetta"></div>
        </div>
    </section>

</body>
</html>